*{
    font-family: sans-serif;
}
.container{
    width: 70%;
    height: 91.5vh;
    margin: auto;
    border: 1px solid teal;
}
.headTextBox{
    width: 95%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    gap: 4%;
    border-bottom: .2vw solid gray;
}
.headText{
    font-size: 1.5vw;
    font-weight: 700;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    background-color: red;
    border: 1px solid red;
    border-radius: .3vw;
}
.itemBox{
    width: 90%;
    /* height: fit-content; */
    height: 5vh;
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    padding-left: 5%;
    gap: 2%;
    align-items: center;
    font-size: 1.2vw;
    font-weight: 600;
    /* border: 1px solid gray; */
}
.contactProf{
    width: 4%;
    height: 95%;
}
@media (max-width:415px){
    .contactProf{
        height: 70%;
    }
    .container{
        width: 90%;
    }
}
a{
    text-decoration: none;
    color: black;
}
.homeLoadingData{
    margin: auto;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 10vh;
    color: green;
}

