
*{
    font-family: sans-serif;
}
.nav{
    width: 70.01%;
    height: 8vh;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
    background-color: teal;
    border: 1px solid teal;

}
.navHeadText{
    font-size: 1.5vw;
    font-weight: 700;
    margin-left: 5%;
}